.face{
    position: relative;
    height: 250px;
    width: 60px;
    background: #fce2c4;
    border: 4px solid #ffa945;
    border-bottom: none;
    left: 220px;
    top: 100px;
    transform: rotate(4deg);
}
.face::before{
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    background: #fce2c4;
    border-left: 6px solid #ffa945;
    border-bottom: 4px solid #ffa945;
    border-bottom-left-radius: 10px;
    transform: skew(-40deg);
    top: 170px;
    left: -12px;
}
.face::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background: #fce2c4;
    border-radius: 50%;
    border: 4px solid #ffa945;
    top: 80px;
    left: 56px;
    border-left: none;
    border-top: none;
    transform: rotate(-40deg);
}

.nose{
    position: relative;
    height: 50px;
    width: 50px;
    background: #fce2c4;
    border: 4px solid #ffa945;
    left: 172px;
    bottom: 90px;
    border-right: none;
    border-radius: 14px 0 0 14px;
    transform: rotate(4deg);
    z-index: 1;
}
.nose::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 30px;
    background: #fce2c4;
    border-top: 4px solid #ffa945;
    left: 30px;
    top: -4px;
}

.eye{
    position: relative;
    height: 44px; 
    width: 40px;
    border-radius: 50%;
    border: 3px solid black;
    background: white;
    bottom: 188px;
    left: 206px;
    transform: rotate(4deg);
    z-index: 0;
}

.eye::before{
    content: "";
    position: absolute;
    height: 12px; 
    width: 10px;
    border-radius: 50%;
    background: black;
    left: 14px; 
    top: 22px;
    transform: rotate(16deg);
}

.eye::after{
    content: "";
    position: absolute;
    height: 4px; 
    width: 4px;
    border-radius: 50%;
    background: white;
    left: 18px;
    top: 24px;
}

.eyel{
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 224px;
    left: 234px;
    border-radius: 50%;
    border: 3px solid black;
    background: white;
    transform: rotate(4deg);
    z-index: 10;
}

.eyel::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 50%;
    left: 18px;
    top: 14px;
}
.eyel::before{
    content: "";
    position: absolute;
    height: 12px; 
    width: 10px;
    border-radius: 50%;
    background: black;
    left: 14px; 
    top: 12px;
    transform: rotate(16deg);
}

.hair > div:nth-child(1) {
    position: absolute;
    background: transparent;
    height: 30px;
    width: 90px;
    border-top: 17px solid green;
    border-radius: 50px 40px 0 0;
    top: 80px;
    left: 222px;
    transform: rotate(65deg);
}

.hair > div:nth-child(2) {
    position: absolute;
    background: transparent;
    height: 40px;
    width: 105px;
    border-top: 18px solid green;
    border-radius: 50px 40px 0 0;
    top: 95px;
    left: 215px;
    transform: rotate(15deg);
}

.hair > div:nth-child(3) {
    position: absolute;
    background: transparent;
    height: 20px;
    width: 70px;
    border-top: 18px solid green;
    border-radius: 40px 40px 0 0;
    top: 75px;
    left: 245px;
    transform: rotate(126deg);
}

.hair > div:nth-child(4) {
    position: absolute;
    background: transparent;
    height: 30px;
    width: 90px;
    border-top: 16px solid green;
    border-radius: 40px 40px 0 0;
    top: 80px;
    left: 200px;
    transform: rotate(22deg);
}

.hair > div:nth-child(5) {
    position: absolute;
    background: transparent;
    height: 10px;
    width: 50px;
    border-top: 20px solid green;
    border-radius: 100px 90px 0 0;
    top: 90px;
    left: 280px;
    transform: rotate(-8deg);
}